body{
    background-color:wheat;
}
h1{
    color: yellowgreen;
    font-family: cursive;
    font-size: medium;
}
p{
    color: brown;
    font-family: monospace;
    font-size:large;
}
<h2 style="color.red">
    Welcome to CSS class
    </h2>